<table class="table max-w-3xl mx-auto mt-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">Detalle</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <th scope="row">{{ product.id }}</th>
      <td>{{ product.name }}</td>
      <td [ngClass]="{ 'text-danger': product.price > 30 }">
        {{ product.price | currency }}
      </td>
      <td>
        <button
          class="btn btn-outline-primary"
          [routerLink]="['/products', product.id]"
        >
          Detalle
        </button>
      </td>
    </tr>
  </tbody>
</table>
