<!-- <h1>holas from {{ city.toUpperCase() }} {{ 2 + 2 }}</h1>
<app-user></app-user> -->
<div>
  <h1>Que te parece angular</h1>
  <article>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta, dolore
      quas voluptate dolorem doloremque ipsa accusamus repudiandae veniam?
      Deserunt repellat rem iure quod recusandae mollitia nobis tempora velit
      quae facilis!
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta, dolore
      quas voluptate dolorem doloremque ipsa accusamus repudiandae veniam?
      Deserunt repellat rem iure quod recusandae mollitia nobis tempora velit
      quae facilis!
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta, dolore
      quas voluptate dolorem doloremque ipsa accusamus repudiandae veniam?
      Deserunt repellat rem iure quod recusandae mollitia nobis tempora velit
      quae facilis!
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta, dolore
      quas voluptate dolorem doloremque ipsa accusamus repudiandae veniam?
      Deserunt repellat rem iure quod recusandae mollitia nobis tempora velit
      quae facilis!
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta, dolore
      quas voluptate dolorem doloremque ipsa accusamus repudiandae veniam?
      Deserunt repellat rem iure quod recusandae mollitia nobis tempora velit
      quae facilis!
    </p>
  </article>
  @defer (on viewport) {
  <app-comments />
  }@placeholder {
  <p>Futuros comentarios</p>
  }@loading {
  <p>Cargando comentarios...</p>
  }
</div>
<!-- <router-outlet /> -->
